aiosqlite==0.17.0
asgiref==3.8.1
click==8.1.7
fastapi==0.68.0
greenlet==3.0.3
h11==0.14.0
pip==24.1.2
pydantic==1.8.2
setuptools==66.1.1
SQLAlchemy==1.4.23
starlette==0.14.2
typing_extensions==4.12.2
uvicorn==0.15.0
